[build]
  publish = "website/public"

[build.environment]
  NODE_VERSION = "24.11.1"
  NPM_VERSION = "11.6.2"
  HUGO_VERSION = "0.152.2"
  GO_VERSION = "1.25.3"

[context.production]
  command = "(echo $(which hugo) && env && make website HUGO=$(which hugo)) || (sleep 30; false)"

[context.deploy-preview]
  command = "(echo $(which hugo) && env && make website HUGO=$(which hugo) WEBSITE_BASE_URL=${DEPLOY_PRIME_URL}) || (sleep 30; false)"

# Redirects and rewrites — https://docs.netlify.com/routing/redirects/#syntax-for-the-netlify-configuration-file

# Custom headers — https://docs.netlify.com/routing/headers/#syntax-for-the-netlify-configuration-file
[[headers]]
  for = "/*"
  [headers.values]
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "1; mode=block"
    X-Frame-Options = "SAMEORIGIN"
    Referrer-Policy = "strict-origin"
    Permissions-Policy = "geolocation=(self), microphone=(), camera=()"
    Cache-Control= '''
    public,
    max-age=31536000'''
    Access-Control-Allow-Origin = "*"




