{{- if .Values.rbacHelpers.enable }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    labels:
        app.kubernetes.io/component: rbac
        app.kubernetes.io/created-by: thanos-operator
        app.kubernetes.io/instance: thanosreceive-editor-role
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/name: clusterrole
        app.kubernetes.io/part-of: thanos-operator
    name: thanos-operator-thanosreceive-editor-role
rules:
    - apiGroups:
        - monitoring.thanos.io
      resources:
        - thanosreceives
      verbs:
        - create
        - delete
        - get
        - list
        - patch
        - update
        - watch
    - apiGroups:
        - monitoring.thanos.io
      resources:
        - thanosreceives/status
      verbs:
        - get
{{- end }}
