{{- if .Values.rbacHelpers.enable }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    labels:
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/name: thanos-operator
    name: thanos-operator-thanoscompact-editor-role
rules:
    - apiGroups:
        - monitoring.thanos.io
      resources:
        - thanoscompacts
      verbs:
        - create
        - delete
        - get
        - list
        - patch
        - update
        - watch
    - apiGroups:
        - monitoring.thanos.io
      resources:
        - thanoscompacts/status
      verbs:
        - get
{{- end }}
