{{- if .Values.rbacHelpers.enable }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    labels:
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/name: thanos-operator
    name: thanos-operator-thanosreceive-viewer-role
rules:
    - apiGroups:
        - monitoring.thanos.io
      resources:
        - thanosreceives
      verbs:
        - get
        - list
        - watch
    - apiGroups:
        - monitoring.thanos.io
      resources:
        - thanosreceives/status
      verbs:
        - get
{{- end }}
