apiVersion: monitoring.thanos.io/v1alpha1
kind: ThanosCompact
metadata:
  name: example-compact
spec:
  objectStorageConfig:
    key: thanos.yaml
    name: thanos-object-storage
  retentionConfig:
    fiveMinutes: 30d
    oneHour: 30d
    raw: 30d
  shardingConfig:
  - externalLabelSharding:
    - label: tenant_id
      value: a
    shardName: example
  storage:
    size: 100Mi
status: {}
