apiVersion: monitoring.thanos.io/v1alpha1
kind: ThanosRuler
metadata:
  name: example-ruler
spec:
  alertmanagerURL: http://alertmanager.example.com:9093
  defaultObjectStorageConfig:
    key: thanos.yaml
    name: thanos-object-storage
  evaluationInterval: 1m
  externalLabels:
    rule_replica: $(NAME)
  imagePullPolicy: IfNotPresent
  logFormat: logfmt
  queryLabelSelector:
    matchLabels:
      app.kubernetes.io/part-of: thanos
      operator.thanos.io/query-api: "true"
  replicas: 1
  retention: 2h
  ruleConfigSelector:
    matchLabels:
      operator.thanos.io/rule-file: "true"
  storage:
    size: 1Gi
status: {}
