apiVersion: monitoring.thanos.io/v1alpha1
kind: ThanosReceive
metadata:
  name: example-receive
spec:
  ingesterSpec:
    defaultObjectStorageConfig:
      key: thanos.yaml
      name: thanos-object-storage
    hashrings:
    - externalLabels:
        replica: $(POD_NAME)
      name: blue
      replicas: 1
      storage:
        size: 100Mi
      tenancyConfig:
        tenantMatcherType: exact
      tsdbConfig:
        retention: 2h
    - externalLabels:
        replica: $(POD_NAME)
      name: green
      replicas: 1
      storage:
        size: 100Mi
      tenancyConfig:
        tenantMatcherType: exact
      tsdbConfig:
        retention: 2h
  routerSpec:
    externalLabels:
      receive: "true"
    imagePullPolicy: IfNotPresent
    logFormat: logfmt
    replicas: 1
    replicationFactor: 1
status:
  routerStatus:
    availableReplicas: 0
    readyReplicas: 0
    replicas: 0
    unavailableReplicas: 0
    updatedReplicas: 0
