apiVersion: monitoring.thanos.io/v1alpha1
kind: ThanosStore
metadata:
  name: example-store
spec:
  imagePullPolicy: IfNotPresent
  logFormat: logfmt
  objectStorageConfig:
    name: thanos-object-storage
    key: thanos.yaml
  shardingStrategy:
    shards: 2
    type: block
  storage:
    size: 1Gi
  ignoreDeletionMarksDelay: 24h
  labels:
    some-label: xyz
