apiVersion: monitoring.thanos.io/v1alpha1
kind: ThanosCompact
metadata:
  name: example-compact
spec:
  storage:
    size: "100Mi"
  shardingConfig:
    - shardName: example
      externalLabelSharding:
        - label: tenant_id
          value: "a"
  objectStorageConfig:
    name: thanos-object-storage
    key: thanos.yaml
  retentionConfig:
    raw: 30d
    fiveMinutes: 30d
    oneHour: 30d

