apiVersion: monitoring.thanos.io/v1alpha1
kind: ThanosStore
metadata:
  name: example-store
spec:
  ignoreDeletionMarksDelay: 24h
  imagePullPolicy: IfNotPresent
  labels:
    some-label: xyz
  logFormat: logfmt
  objectStorageConfig:
    key: thanos.yaml
    name: thanos-object-storage
  shardingStrategy:
    shards: 2
    type: block
  storage:
    size: 1Gi
status: {}
