apiVersion: apps/v1
kind: Deployment
metadata:
    labels:
        app.kubernetes.io/component: manager
        app.kubernetes.io/created-by: thanos-operator
        app.kubernetes.io/instance: controller-manager
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/name: deployment
        app.kubernetes.io/part-of: thanos-operator
        control-plane: controller-manager
    name: thanos-operator-controller-manager
    namespace: {{ .Release.Namespace }}
spec:
    replicas: 1
    selector:
        matchLabels:
            control-plane: controller-manager
    template:
        metadata:
            annotations:
                kubectl.kubernetes.io/default-container: manager
            labels:
                control-plane: controller-manager
        spec:
            containers:
                - args:
                    {{- range .Values.manager.args }}
                    - {{ . }}
                    {{- end }}
                  image: "{{ .Values.manager.image.repository }}:{{ .Values.manager.image.tag }}"
                  imagePullPolicy: {{ .Values.manager.image.pullPolicy }}
                  name: kube-rbac-proxy
                  ports:
                    - containerPort: 8443
                      name: https
                      protocol: TCP
                  resources:
                    {{- if .Values.manager.resources }}
                    {{- toYaml .Values.manager.resources | nindent 20 }}
                    {{- else }}
                    {}
                    {{- end }}
                  securityContext:
                    {{- if .Values.manager.securityContext }}
                    {{- toYaml .Values.manager.securityContext | nindent 20 }}
                    {{- else }}
                    {}
                    {{- end }}
                - args:
                    - --health-probe-bind-address=:8081
                    - --metrics-bind-address=127.0.0.1:8080
                    - --leader-elect
                    - --log.format=logfmt
                    - --log.level=debug
                  command:
                    - /manager
                  image: quay.io/thanos/thanos-operator:main
                  livenessProbe:
                    httpGet:
                        path: /healthz
                        port: 8081
                    initialDelaySeconds: 15
                    periodSeconds: 20
                  name: manager
                  readinessProbe:
                    httpGet:
                        path: /readyz
                        port: 8081
                    initialDelaySeconds: 5
                    periodSeconds: 10
                  resources:
                    limits:
                        cpu: 500m
                        memory: 128Mi
                    requests:
                        cpu: 10m
                        memory: 64Mi
                  securityContext:
                    allowPrivilegeEscalation: false
                    capabilities:
                        drop:
                            - ALL
            securityContext:
              {{- if .Values.manager.podSecurityContext }}
              {{- toYaml .Values.manager.podSecurityContext | nindent 14 }}
              {{- else }}
              {}
              {{- end }}
            serviceAccountName: thanos-operator-controller-manager
            terminationGracePeriodSeconds: 10
