---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: thanosreceives.monitoring.thanos.io
spec:
  group: monitoring.thanos.io
  names:
    kind: ThanosReceive
    listKind: ThanosReceiveList
    plural: thanosreceives
    singular: thanosreceive
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ThanosReceive is the Schema for the thanosreceives API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ThanosReceiveSpec defines the desired state of ThanosReceive
            properties:
              hashrings:
                description: Hashrings is a list of hashrings to route to.
                items:
                  description: IngestorHashringSpec represents the configuration for
                    a hashring to be used by the Thanos Receive StatefulSet.
                  properties:
                    labels:
                      additionalProperties:
                        type: string
                      description: |-
                        Labels are additional labels to add to the hashring components.
                        Labels set here will overwrite the labels inherited from the ThanosReceive object if they have the same key.
                      type: object
                    name:
                      description: |-
                        Name is the name of the hashring.
                        Name will be used to generate the names for the resources created for the hashring.
                        By default, Name will be used as a prefix with the ThanosReceive name as a suffix separated by a hyphen.
                        In cases where that name does not match the pattern below, i.e. the name is not a valid DNS-1123 subdomain,
                        the Name will be used as is and must be unique within the namespace.
                        This field is immutable.
                      maxLength: 253
                      minLength: 1
                      pattern: ^$|^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                      type: string
                      x-kubernetes-validations:
                      - message: Value is immutable
                        rule: self == oldSelf
                    objectStorageConfig:
                      description: |-
                        ObjectStorageConfig is the secret's key that contains the object storage configuration.
                        The secret needs to be in the same namespace as the ReceiveHashring object.
                      properties:
                        key:
                          description: The key of the secret to select from.  Must
                            be a valid secret key.
                          type: string
                        name:
                          description: |-
                            Name of the referent.
                            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                            TODO: Add other useful fields. apiVersion, kind, uid?
                          type: string
                        optional:
                          description: Specify whether the Secret or its key must
                            be defined
                          type: boolean
                      required:
                      - key
                      type: object
                      x-kubernetes-map-type: atomic
                    replicas:
                      description: Replicas is the number of replicas/members of the
                        hashring to add to the Thanos Receive StatefulSet.
                      format: int32
                      minimum: 1
                      type: integer
                    retention:
                      default: 2h
                      description: Retention is the duration for which the Thanos
                        Receive StatefulSet will retain data.
                      pattern: ^(0|(([0-9]+)y)?(([0-9]+)w)?(([0-9]+)d)?(([0-9]+)h)?(([0-9]+)m)?(([0-9]+)s)?(([0-9]+)ms)?)$
                      type: string
                    storageSize:
                      description: StorageSize is the size of the storage to be used
                        by the Thanos Receive StatefulSet.
                      type: string
                    tenantMatcherType:
                      default: exact
                      description: TenantMatcherType is the type of tenant matching
                        to use.
                      enum:
                      - exact
                      - glob
                      type: string
                    tenants:
                      description: |-
                        Tenants is a list of tenants that should be matched by the hashring.
                        An empty list matches all tenants.
                      items:
                        type: string
                      type: array
                  required:
                  - objectStorageConfig
                  type: object
                type: array
              image:
                description: Container image to use for the Thanos components.
                type: string
              imagePullPolicy:
                default: IfNotPresent
                description: |-
                  Image pull policy for the Thanos containers.
                  See https://kubernetes.io/docs/concepts/containers/images/#image-pull-policy for more details.
                enum:
                - Always
                - Never
                - IfNotPresent
                type: string
              imagePullSecrets:
                description: |-
                  An optional list of references to Secrets in the same namespace
                  to use for pulling images from registries.
                  See http://kubernetes.io/docs/user-guide/images#specifying-imagepullsecrets-on-a-pod
                items:
                  description: |-
                    LocalObjectReference contains enough information to let you locate the
                    referenced object inside the same namespace.
                  properties:
                    name:
                      description: |-
                        Name of the referent.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                        TODO: Add other useful fields. apiVersion, kind, uid?
                      type: string
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
              logFormat:
                default: logfmt
                description: Log format for Thanos.
                enum:
                - logfmt
                - json
                type: string
              logLevel:
                description: Log level for Thanos.
                enum:
                - ""
                - debug
                - info
                - warn
                - error
                type: string
              paused:
                description: |-
                  When a resource is paused, no actions except for deletion
                  will be performed on the underlying objects.
                type: boolean
              router:
                description: Router is the configuration for the router.
                properties:
                  labels:
                    additionalProperties:
                      type: string
                    description: |-
                      Labels are additional labels to add to the router components.
                      Labels set here will overwrite the labels inherited from the ThanosReceive object if they have the same key.
                    type: object
                  replicas:
                    description: Replicas is the number of router replicas.
                    format: int32
                    minimum: 1
                    type: integer
                  replicationFactor:
                    description: ReplicationFactor is the replication factor for the
                      router.
                    enum:
                    - 1
                    - 3
                    - 5
                    format: int32
                    type: integer
                type: object
              version:
                description: |-
                  Version of Thanos to be deployed.
                  If not specified, the operator assumes the latest upstream version of
                  Thanos available at the time when the version of the operator was
                  released.
                type: string
            type: object
          status:
            description: ThanosReceiveStatus defines the observed state of ThanosReceive
            properties:
              conditions:
                description: Conditions represent the latest available observations
                  of the state of the hashring.
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource.\n---\nThis struct is intended for
                    direct use as an array at the field path .status.conditions.  For
                    example,\n\n\n\ttype FooStatus struct{\n\t    // Represents the
                    observations of a foo's current state.\n\t    // Known .status.conditions.type
                    are: \"Available\", \"Progressing\", and \"Degraded\"\n\t    //
                    +patchMergeKey=type\n\t    // +patchStrategy=merge\n\t    // +listType=map\n\t
                    \   // +listMapKey=type\n\t    Conditions []metav1.Condition `json:\"conditions,omitempty\"
                    patchStrategy:\"merge\" patchMergeKey:\"type\" protobuf:\"bytes,1,rep,name=conditions\"`\n\n\n\t
                    \   // other fields\n\t}"
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: |-
                        type of condition in CamelCase or in foo.example.com/CamelCase.
                        ---
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions can be
                        useful (see .node.status.conditions), the ability to deconflict is important.
                        The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
