name: docs

on:
  push:
    branches:
      - main
    tags:
  pull_request:

permissions:  
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    name: Documentation check
    env:
      GOBIN: /tmp/.bin
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: 1.23.x

      - uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - uses: actions/cache@v4
        with:
          path: .mdoxcache
          key: ${{ runner.os }}-mdox-${{ hashFiles('docs/*.md', '*.md') }}
          restore-keys: |
            ${{ runner.os }}-mdox-

      - name: Check docs
        run: make check-docs
