name: Helm Chart

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths:
      - 'bundle.yaml'
      - 'helm/chart/**'
  pull_request:
    branches:
      - main

env:
  golang-version: '1.25'
  kind-version: 'v0.30.0'
  kind-image: 'kindest/node:v1.34.0'

permissions:
  contents: read
  pull-requests: read

jobs:
  test-e2e:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code into the Go module directory.
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.golang-version }}

      - uses: actions/cache@v5
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Build Helm chart
        run: make build-chart

      - name: Start kind cluster
        uses: helm/kind-action@v1.13.0
        with:
          version: ${{ env.kind-version }}
          node_image: ${{ env.kind-image }}
          wait: 10s
          cluster_name: kind

      - name: Wait for cluster to bootstrap
        run: kubectl wait --for=condition=Ready pods --all --all-namespaces --timeout=300s

      - name: Prepare thanos-operator
        run: |
          go mod tidy
          make docker-build IMG=thanos-operator:v0.1.0
          kind load docker-image thanos-operator:v0.1.0

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
          helm version

      - name: Lint Helm Chart
        run: |
          helm lint ./helm/chart

      - name: Install Prometheus Operator CRDs
        run: |
          helm install prometheus-crds oci://ghcr.io/prometheus-community/charts/prometheus-operator-crds

      - name: Create namespace for thanos-operator
        run: |
          kubectl create namespace thanos-operator-system || true

      - name: Install Helm chart for project using server-side apply
        run: |
          helm template my-release ./helm/chart --namespace thanos-operator-system | \
            kubectl apply --server-side -f -

      - name: Verify deployment
        run: |
          echo "Checking for CRDs..."
          kubectl get crd thanoscompacts.monitoring.thanos.io
          kubectl get crd thanosqueries.monitoring.thanos.io
          kubectl get crd thanosreceives.monitoring.thanos.io
          kubectl get crd thanosrulers.monitoring.thanos.io
          kubectl get crd thanosstores.monitoring.thanos.io
          echo "Checking for operator deployment..."
          kubectl get deployment -n thanos-operator-system
          kubectl wait --for=condition=Available deployment --all -n thanos-operator-system --timeout=300s
